* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.2rem;
}

.calculator {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #e0e6f0;
}

.calculator-input {
    width: 100%;
    font-size: 4rem;
    height: 70px;
    border: none;
    background-color: #030c18;
    color: rgb(223, 252, 248);
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}

button {
    height: 50px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0);;
    background-color: transparent;
    font-size: 2.5rem;
    color: #333;
}

button:hover {
    background-color: #eaeaea;
}

.operator {
    color: #337cac;
}

.clear {
    background-color: #610508;
    border-color: #0c0001;
    color: #fff;
}

.clear:hover {
    background-color: #72262a;
}

.equal-sign {
    background-color: #035f0f;
    border-color: #011303;
    color: #fff;
    height: 100%;
    grid-area: 2/4/6/5;
}

.equal-sign:hover {
    background-color: #3e8d49;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px
}